
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
    background-color:#b6a19e;
    height: 25vh; 
    color: #fff;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.navbar {
    background-color: #6c648b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .navbar__list {
    
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.navbar .navbar__list .navbar__link {
    margin: 0 2rem;
    padding: 1rem;
    color: #fba100;
    font-size: 1.5rem; /* 16 * 2 = 32px */
    text-decoration: none;
    font-family: 'Stick', sans-serif;
}


ul {
    list-style: none;
}

.navbar .navbar__list .navbar__link:hover { /* Cuando pase el mouse sobre el elemento cambie algo */
    color:white;
}


.header h1 {
    font-size: 30px;
    font-family: 'Stick', sans-serif;
    margin-top: 70px;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: efecto;
    animation-iteration-count: infinite;
    }

    @keyframes efecto {
        
        0% { font-size: 30px; }
        25% { font-size: 50px; }
        50% { font-size: 40px; }
        75% { font-size: 50px; }
        100% { font-size: 30px; }
      
       0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        } 
     }

    .header p {
        font-size: 20px;
        
        font-family: 'Stick', sans-serif;
       
        }

    .seccion1home p {
        font-size: 30px;
        margin-top: 30px;
        padding-left: 100px;
        margin-bottom: 30px;
        font-family: 'Stick', sans-serif;
       
        }

        .seccion1home article {
           
            display: flex;
            justify-content: center;
            }   
    
    .seccion1home {
        background-color: #45567d;
        font-family: 'Stick', sans-serif;
        min-height: 40vh; 
        padding-top: 20px;
        color: #fff;
        padding-bottom: 20px;
    
    }

    

    .seccion1home .hh2 {
     
     text-align: center;
    
    }


    .home {
        text-align: center;
        justify-content: center;
        background-color: #6bbaa7;
        font-family: 'Stick', sans-serif;
        min-height: 10vh; 
       padding-top: 50px;
        color: #fff;
        padding-bottom: 20px;
      
        font-size: 20px;
    }

    .home label {
        
        text-align: center;
        background-color: #6bbaa7;
        font-family: 'Stick', sans-serif;
        font-size: 17px;
        color: #fff;  
        
    }

    .home input {
        margin-bottom: 20px;
        background-color: #6bbaa7;
        font-family: 'Stick', sans-serif;
        font-size: 17px;
        color: #fff;
    }

    .home div {
        
        background-color: #6bbaa7;
        font-family: 'Stick', sans-serif;
       
    }


    .cambiarFooter{
       
        font-size: 30px;
        color: rgb(188, 219, 231);
        /*background-color: #b6a19e;*/
        background: linear-gradient(to right, #e96443, #904e95); 
        font-style: italic;
        font-family: fantasy;
        text-align: center;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        }

        .cambiarFooter p {
            font-family: "Spinnaker", sans-serif;
            margin-bottom: 8px;
            padding-top: 10px;
            font-size: 12px;
        }

        .seccion1vinos {
            background-color: #45567d;
            min-height: 40vh; 
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .listavinos{
          
           display: grid;
           grid-template-columns: auto auto auto auto auto auto;
           grid-template-rows: auto;
           justify-content: center;
            background-color: #6bbaa7;
            font-family: 'Stick', sans-serif;
            min-height: 50vh; 
           padding-top: 20px;
            color: #fff;
            padding-bottom: 20px;
            font-size: 20px;
        }
       

        .seccionpromociones{
            padding-top: 80px;
            display: flex;
            justify-content: center;
        }

        .promo {
                display: flex;
                justify-content: center;
                background-color: #45567d;
                font-family: 'Stick', sans-serif;
                min-height: 40vh; 
                padding-top: 20px;
               border: 2px solid black;
                padding-bottom: 20px;
            
        }

        .quienes {
            display: flex;
            justify-content: center;
            background-color: #45567d;
            font-family: 'Stick', sans-serif;
            min-height: 40vh; 
            padding-top: 20px;
            padding-bottom: 20px;
        
    }

    .quienes p{
        color: white;   
        text-align: justify;
        font-size: 30px;
        font-family: 'Stick', sans-serif;
        margin-left: 20px;
        margin-right: 30px;
        line-height: 150%; 
        padding-top: 40px;
   
    
}

.formulariocontacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #45567d;
    font-family: 'Stick', sans-serif;
    min-height: 40vh; 
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 150%; 
         
}

.formulariocontacto div{
    margin-left: 40px;
    
}

/*.gridcontenedor{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
*/

.listavinos div {

    border: 2px solid black ;


   
}
/*.logo{

    text-align: center;
    background-image: url(https://rosariomeyerarana.github.io/Entregafinal-DW/imagenes/nosotros.png) ;
    background-image: no-repeat;
    
    
}

nav{
    background-color: blueviolet; 
    padding: 1rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul li {
    
    display: inline-block;
}
/*header {
    background-color: blueviolet; 
    color: cyan;
    
    height: 150px;
}
*/


/*------------------------------------------------------------------------------------

footer{

    background-color: mediumorchid;
}

h2{

    color: rgb(59, 43, 202);
    margin: 40px;
 
 

 }

h3{
    margin: 40px;
    color: royalblue;
    font-family: 'Stick', sans-serif;
}



.cambiarFont{

    font-size: 40px;
    color: rgb(188, 219, 231);
    font-style: italic;
    font-family: fantasy;
  
    text-decoration: none;
    margin: 20px;
    font-family: 'Iceland', cursive;
    
 
    }

.cambiarForm{

    font-size: 15px;
    color: rgb(19, 161, 218);
    font-style: italic;
    
}

.tabla{
    border-width: medium;
    list-style: inherit;
}

.cambiarFontHeader{

    font-size: 30px;
    color: rgb(188, 219, 231);
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    text-decoration: none;
    margin: none;
    }

    */